/*Colors*/
:root{
  --lightbLue: #e4deec;
  --lightpink: #f8b799;
  --orange: #f89c59;
  --lightbrown: #a5603f;
  --darkbrown: #392821;
  --yellowred: #ffc971;
  --BrownPeach: #c7cb85;
  --appleGreen: #c7cb85;

}
body{
  font-family: 'Questrial', sans-serif;
  background-color: var(--lightbLue);
  color: var(--darkbrown);
}
.container-fluid{
  padding: 0!important;
  width: 100%!important;
}
/*for the carousel*/
.col-lg-12{
    padding: 0!important;
}
/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 602px;
  background-attachment: fixed!important;
  background-size: cover!important;
  background-position: center!important;
}
        #ShopCat{  
          height: 250px; 
          margin: 5%;
        }
div a{
  text-decoration: none!important;
}
.featuredItems h3,
.category h3{
  margin-bottom: 30px;  
  font-weight: bold!important;
  text-transform: uppercase;
  text-align: center;
}
.categoryTops{
  border: 10px double var(--darkbrown);
  background-color:  var(--lightbrown);
  height: 60px;
  margin: 10px 0;
  border-radius: 5px;
  color: var(--lightbLue);
  display: inline-flex;
  position: relative;
  width: 27vh;
}
.categoryTops:hover{
  box-shadow: 0px 4px 7px 4px #888888bf;
}
.categoryTops img{
    width: 30%;
    height: 75%;
      display: block;
    margin: auto;
    position: absolute;
    margin: 5px 11px;
}
.categoryTops p{
  color: var(--darkbrown);
  text-transform: uppercase;
  font-weight: bold;
  -webkit-text-emphasis: triangle;
      display: block;
    position: absolute;
     margin: 4px 0px;
    right: 12px;
    font-size: 15px;
}
.categoryTops img p{
  display: flex;
}

@media (min-width: 900px){
  .categoryTops p{
    font-size: 15px;
  }
}
@media (min-width: 600px){
      .categoryTops p{
      font-size: 15px;
    }
}
        #featured{
          height: 500px;
          margin: 5%;
        }

.items{
  background-color: black;
  height: 300px;
  width: auto;
  position: relative;
}
.items:hover{
  background-color: red;
}

.items img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s linear;

  overflow: hidden;
}
.items .itemsFront{
  z-index: 1;
  transition: opacity .5s linear;
  cursor: pointer;
}
.items:hover > .itemsFront{
  opacity: 0;
}
.itemDesc{
  margin: 1% 0 10% 0;
}



/*WOMEN CATEGORIRES SECTION*/

.sidenav {
  height: 100%;
  width: 210px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--darkbrown);
  overflow-x: hidden;
  padding-top: 1%;

}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}
.sidelogo{
    text-align: center;
    font-weight: bold!important;
    padding-top: 40px;
}
  .sidelogo h3{
    color:white;
  }
.sidenav a:hover {
  color: #f1f1f1;
}
.back{
  display: flex;
  padding-left: 5px;
}
.back button{
 background-color: transparent;
 border: none;
}
.back button img{
  filter: invert(4);
}
div.back  p{
  color:var(--lightbLue);
  padding: 12px 0 0 10px;
}
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  div.menu{
    width: 1280px;
    margin: 40px auto;
    cursor: pointer;
  }
  div.menu h5{
    color: var(--lightbLue);
    margin: 10px;

  }

  div.menu a.list{
    color: var(--lightbLue)!important;
  }
  div.menu a.list.active{
    background-color: var(--lightbLue);
    color: var(--darkbrown)!important;
        cursor: pointer;
        font-weight: bolder;

  }
  .product{
    display: flex;
    flex-wrap: wrap;
    margin: 12% 5%;
  }
  .product .itemBox{
    position: relative;
    width: 250px;
    height: 300px;
    margin: 36px 15px; 
  }
  .itemBox img.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s linear;
    
  }
  .itemBox img.Front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s linear;
    z-index: 1;
  }

  .itemBox:hover> img.Front{
      opacity: 0;
    }
  @media only screen and (max-width: 800px){
    .product .itemBox{
      flex: 50%;
    }
  }
  @media only screen and (max-width: 600px){
    .product .itemBox{
      flex: 100%;
    }
  

  span.productDesc{
    text-decoration: none;
    color: var(--darkbrown)!important;
    position: absolute!important;
    bottom: 0;
  }
























<!DOCTYPE html>
<html lang="en">
<head>
  <title>Men's Clothing | Meraki</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Questrial&family=Staatliches&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="public/css/style.css">
  <link rel="stylesheet" type="text/css" href="public/css/bootstrap-grid.css">
  <!-- JHELYN HOME -->
  <link rel="stylesheet" href="css jhelyn/header.css">
  <!-- JOSH Footer -->
  <link rel="stylesheet" href="css josh/footer.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
          <div class="sidenav">
                <div class="back">
                  <button><a href="women.html"><img src="public/img/left-arrow.png" width="40px"></a></button><p> BACK </p>
                </div>
                <div class="sidelogo">
                    <h3>M E <SPAN style="color: #777545">R A K I</SPAN></h3>
                </div>
                <div class="menu">
                      <h5>Categories</h5>
                          <a  class="list active" data-filter="All">ALL</a>
                          <a  class="list" data-filter="Dresses">Dresses</a>
                          <a  class="list" data-filter="Shirts">T-Shirts</a>
                          <a  class="list" data-filter="Croptops">Croptops</a>
                          <a  class="list" data-filter="Skirts">Skirts</a>
                          <a  class="list" data-filter="Jeans">Jeans</a>
                          <a  class="list" data-filter="Shorts">Shorts</a>
                          <a  class="list" data-filter="Jumpsuits">Jumpsuits</a>
                          <a  class="list" data-filter="Swimsuits">Swimsuits</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="">
    <div class="container">
        <div class="row">
            <div class="col-md-11 offset-md-2">
                <div class="product">
                    <a href="croptop1.html">
                      <div class="itemBox Croptops">
                          <img src="img/croptop/1.jpg" class="Front">
                          <img src="img/croptop/1a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Button Up Lettuce Edge Top</h6>
                              <p>Php250</p>
                          </span>
                      </div>
                    </a>
                    <a href="dress1.html">
                      <div class="itemBox Dresses">
                          <img src="img/dress/1.jpg" class="Front">
                          <img src="img/dress/1a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Square Neck Lettuce Trim Daisy Floral Mesh Dress</h6>
                              <p>Php450</p>
                          </span>
                      </div>
                    </a>
                    <a href="pants1.html">
                      <div class="itemBox Jeans">
                          <img src="img/pants/1.jpg" class="Front">
                          <img src="img/pants/1a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Solid Wide Leg Pants</h6>
                              <p>Php2,214</p>
                          </span>
                      </div>
                    </a>
                    <a href="shirt1.html">
                      <div class="itemBox Shirts">
                          <img src="img/shirt/1.jpg" class="Front">
                          <img src="img/shirt/1a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Drop Shoulder Letter Graphic Oversized Tee</h6>
                              <p>Php424</p>
                          </span>
                      </div>
                    </a>
                    <a href="short1.html">
                      <div class="itemBox Shorts">
                          <img src="img/short/1.jpg" class="Front">
                          <img src="img/short/1a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Slant Pocket Wide Leg Denim Shorts</h6>
                              <p>Php570</p>
                          </span>
                      </div>
                    </a>
                    <a href="skirt1.html">
                      <div class="itemBox Skirts">
                          <img src="img/skirt/1.jpg" class="Front">
                          <img src="img/skirt/1a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>High Waist Plaid Tweed Skirt</h6>
                              <p>Php450</p>
                          </span>
                      </div>
                    </a>
                    <a href="swimsuit1.html">
                      <div class="itemBox Swimsuits">
                          <img src="img/swimsuit/1.jpg" class="Front">
                          <img src="img/swimsuit/1a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Rib Underwire High Cut Bikini Swimsuit</h6>
                              <p>Php409</p>
                          </span>
                      </div>
                    </a>
                    <a href="croptop2.html">
                      <div class="itemBox Croptops">
                          <img src="img/croptop/2.jpg" class="Front">
                          <img src="img/croptop/2a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Tartan Crop Tank Top</h6>
                              <p>Php228</p>
                          </span>
                      </div>
                    </a>
                    <a href="dress2.html">
                      <div class="itemBox Dresses">
                          <img src="img/dress/2.jpg" class="Front">
                          <img src="img/dress/2a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Square Neck Allover Floral Split Hem Dress</h6>
                              <p>Php735</p>
                          </span>
                      </div>
                    </a>
                    <a href="pants2.html">
                      <div class="itemBox Jeans">
                          <img src="img/pants/2.jpg" class="Front">
                          <img src="img/pants/2a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Raw Trim Flare Leg Pants</h6>
                              <p>Php890</p>
                          </span>
                      </div>
                    </a>
                    <a href="shirt2.html">
                      <div class="itemBox Shirts">
                          <img src="img/shirt/2.jpg" class="Front">
                          <img src="img/shirt/2a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Letter Graphic Drop Shoulder Tee</h6>
                              <p>Php343</p>
                          </span>
                      </div>
                    </a>

                    <a href="jumpsuit1.html">
                      <div class="itemBox Jumpsuits">
                          <img src="img/jumpsuit/12.jpg" class="Front">
                          <img src="img/jumpsuit/12a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>.Zip Back Slit Hem Velvet Dress</h6>
                              <p>Php466</p>
                          </span>
                      </div>
                    </a>
                    <a href="short2.html">
                      <div class="itemBox Shorts">
                          <img src="img/short/2.jpg" class="Front">
                          <img src="img/short/2a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Girls Cow Print Colorblock Shorts</h6>
                              <p>Php294</p>
                          </span>
                      </div>
                    </a>
                    <a href="skirt2.html">
                      <div class="itemBox Skirts">
                          <img src="img/skirt/2.jpg" class="Front">
                          <img src="img/skirt/2a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Zip Side Pleated PU Skirt</h6>
                              <p>Php450</p>
                          </span>
                      </div>
                    </a>
                    <a href="croptop3.html">
                      <div class="itemBox Croptops">
                          <img src="img/croptop/3.jpg" class="Front">
                          <img src="img/croptop/3a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Tie Dye Rib-knit Crop Tee</h6>
                              <p>Php265</p>
                          </span>
                      </div>
                    </a>
                    <a href="dress3.html">
                      <div class="itemBox Dresses">
                          <img src="img/dress/3.jpg" class="Front">
                          <img src="img/dress/3a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Flounce Sleeve Button Front Belted Dress</h6>
                              <p>Php588</p>
                          </span>
                      </div>
                    </a>
                    <a href="pants3.html">
                      <div class="itemBox Jeans">
                          <img src="img/pants/3.jpg" class="Front">
                          <img src="img/pants/3a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Letter and Pop Art Print Pants</h6>
                              <p>Php1,800</p>
                          </span>
                      </div>
                    </a>
                    <a href="shirt3.html">
                      <div class="itemBox Shirts">
                          <img src="img/shirt/3.jpg" class="Front">
                          <img src="img/shirt/3a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>BASICS Slub Cotton Roll Up Sleeve Tee</h6>
                              <p>Php343</p>
                          </span>
                      </div>
                    </a>
                    <a href="short3.html">
                      <div class="itemBox Shorts">
                          <img src="img/short/3.jpg" class="Front">
                          <img src="img/short/3a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Raw Trim Tweed Shorts</h6>
                              <p>Php342</p>
                          </span>
                      </div>
                    </a>
                    <a href="jumpsuit2.html">
                      <div class="itemBox Jumpsuits">
                          <img src="img/jumpsuit/10.jpg" class="Front">
                          <img src="img/jumpsuit/10a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Keyhole Back Embroidery Floral Belted Dress</h6>
                              <p>Php437</p>
                          </span>
                      </div>
                    </a>
                    <a href="skirt3.html">
                      <div class="itemBox Skirts">
                          <img src="img/skirt/3.jpg" class="Front">
                          <img src="img/skirt/3a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Houndstooth Mini Skirt</h6>
                              <p>Php234</p>
                          </span>
                      </div>
                    </a>                    
                    <a href="jumpsuit3.html">
                      <div class="itemBox Jumpsuits">
                          <img src="img/jumpsuit/13.jpg" class="Front">
                          <img src="img/jumpsuit/13a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Ditsy Floral Sweetheart Ruched Split Thigh Dress</h6>
                              <p>Php534</p>
                          </span>
                      </div>
                    </a>
                    <a href="swimsuit3.html">
                      <div class="itemBox Swimsuits">
                          <img src="img/swimsuit/3.jpg" class="Front">
                          <img src="img/swimsuit/3a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Tie Shoulder High Waisted Bikini Swimsuit</h6>
                              <p>Php630</p>
                          </span>
                      </div>
                    </a>
                    <a href="croptop4.html">
                      <div class="itemBox Croptops">
                          <img src="img/croptop/4.jpg" class="Front">
                          <img src="img/croptop/4a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Puff Sleeve Ruched Bust Knot Ditsy Floral Crop Top</h6>
                              <p>Php250</p>
                          </span>
                      </div>
                    </a>
                    <a href="dress4.html">
                      <div class="itemBox Dresses">
                          <img src="img/dress/4.jpg" class="Front">
                          <img src="img/dress/4a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Ditsy Floral V Neck Ruffle Hem Dress</h6>
                              <p>Php686</p>
                          </span>
                      </div>
                    </a>
                    <a href="pants4.html">
                      <div class="itemBox Jeans">
                          <img src="img/pants/4.jpg" class="Front">
                          <img src="img/pants/4a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>High Waist Plaid Straight Leg Pants</h6>
                              <p>Php980</p>
                          </span>
                      </div>
                    </a>
                    <a href="shirt4.html">
                      <div class="itemBox Shirts">
                          <img src="img/shirt/4.jpg" class="Front">
                          <img src="img/shirt/4a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Letter Graphic Short Sleeve Tee</h6>
                              <p>Php235</p>
                          </span>
                      </div>
                    </a>
                    <a href="short4.html">
                      <div class="itemBox Shorts">
                          <img src="img/short/4.jpg" class="Front">
                          <img src="img/short/4a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>High Waist Raw Hem Denim Shorts</h6>
                              <p>Php529</p>
                          </span>
                      </div>
                    </a>
                    <a href="jumpsuit4.html">
                      <div class="itemBox Jumpsuits">
                          <img src="img/jumpsuit/14.jpg" class="Front">
                          <img src="img/jumpsuit/14a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>SHEIN Ditsy Rose Floral Print Ruffled Mini Dress</h6>
                              <p>Php678</p>
                          </span>
                      </div>
                    </a>
                    <a href="skirt4.html">
                      <div class="itemBox Skirts">
                          <img src="img/skirt/4.jpg" class="Front">
                          <img src="img/skirt/4a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Asymmetrical Flounce Hem Overlap Skirt</h6>
                              <p>Php463</p>
                          </span>
                      </div>
                    </a>
                    <a href="swimsuit4.html">
                      <div class="itemBox Swimsuits">
                          <img src="img/swimsuit/4.jpg" class="Front">
                          <img src="img/swimsuit/4a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Tie Back Top With Random Tropical Bikini</h6>
                              <p>Php649</p>
                          </span>
                      </div>
                    </a>
                    <a href="croptop5.html">
                      <div class="itemBox Croptops">
                          <img src="img/croptop/5.jpg" class="Front">
                          <img src="img/croptop/5a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Rib-knit Tie Dye Crop Tank Top</h6>
                              <p>Php310</p>
                          </span>
                      </div>
                    </a>
                    <a href="dress5.html">
                      <div class="itemBox Dresses">
                          <img src="img/dress/5.jpg" class="Front">
                          <img src="img/dress/5a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Puff Sleeve Sheer Floral Organza Dress Without Lining</h6>
                              <p>Php588</p>
                          </span>
                      </div>
                    </a>
                    <a href="pants5.html">
                      <div class="itemBox Jeans">
                          <img src="img/pants/5.jpg" class="Front">
                          <img src="img/pants/5a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Side Flap Pocket Cargo Pants</h6>
                              <p>Php1,100</p>
                          </span>
                      </div>
                    </a>
                    <a href="shirt5.html">
                      <div class="itemBox Shirts">
                          <img src="img/shirt/5.jpg" class="Front">
                          <img src="img/shirt/5a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Slogan Graphic Drop Shoulder Longline Tee</h6>
                              <p>Php515</p>
                          </span>
                      </div>
                    </a>
                    <a href="short5.html">
                      <div class="itemBox Shorts">
                          <img src="img/short/5.jpg" class="Front">
                          <img src="img/short/5a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Girls Lettuce High Waist</h6>
                              <p>Php534</p>
                          </span>
                      </div>
                    </a>
                    <a href="jumpsuit5.html">
                      <div class="itemBox Jumpsuits">
                          <img src="img/jumpsuit/15.jpg" class="Front">
                          <img src="img/jumpsuit/15a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Chain Strap Drawstring Side Tie Dye Dress</h6>
                              <p>Php637</p>
                          </span>
                      </div>
                    </a>
                    <a href="skirt5.html">
                      <div class="itemBox Skirts">
                          <img src="img/skirt/5.jpg" class="Front">
                          <img src="img/skirt/5a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Button Side Zipper Wrap Skirt</h6>
                              <p>Php658</p>
                          </span>
                      </div>
                    </a>
                    <a href="swimsuit5.html">
                      <div class="itemBox Swimsuits">
                          <img src="img/swimsuit/5.jpg" class="Front">
                          <img src="img/swimsuit/5a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Tribal Halter Shorts Bikini Swimsuit</h6>
                              <p>Php435</p>
                          </span>
                      </div>
                    </a>
                    </a>
                    <a href="jumpsuit5.html">
                      <div class="itemBox Jumpsuits">
                          <img src="img/jumpsuit/11.jpg" class="Front">
                          <img src="img/jumpsuit/11a.jpg" class="back">
                      
                          <span class="productDesc" style="position: absolute; bottom: -70px; color: var(--darkbrown);">
                              <h6>Keyhole Back Embroidery Floral Belted Dress</h6>
                              <p>Php460</p>
                          </span>
                      </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</section>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.list').click(function(){
        const value = $(this).attr('data-filter');
        if (value == 'All'){
          $('.itemBox').show('1000');
          $('.productDesc').show('1000');
        }
        else{
          $('.itemBox').not('.'+value).hide('1000');
          $('.productDesc').not('.'+value).hide('1000');
          $('.itemBox').filter('.'+value).show('1000');
          $('.productDesc').filter('.'+value).show('1000');
        }
      })
      // add active class on selected item
      $('.list').click(function(){
        $(this).addClass('active').siblings().removeClass('active');
      })
    })
</script>
</body>
</html>
